@page "/resetPassword"
@using ColNet2._0.Services
@using ColNet2._0.Data
@using ColNet2._0.Models
@using ColNet2._0.CustomModels
@inject ResetPasswordService monService
@inject IJSRuntime JS
@inject NavigationManager navManager

<section class="vh-100 gradient-custom">
    <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; border-color:black;">
                    <div class="card-body p-5 text-center" style="border-color:black;">

                        <div class="mb-md-5 mt-md-4 pb-4">

                            <h3 class="fw-bold mb-2 text-uppercase text-black-50">Réinitialiser mot de passe</h3> <br />
                            <EditForm Model="@check" OnValidSubmit="@UpdatePWd">
                                <DataAnnotationsValidator />

                                <div class="form-outline form-white mb-3">
                                    <label class="form-label text-black" for="code">Entrez le code recu dans le courriel</label>
                                    <InputText id="code" class="form-control form-control-lg" @bind-Value="@check.code" autocomplete="off" />
                                    <ValidationMessage For="@(() => check.code)" />
                                </div>

                                <div class="form-outline form-white mb-3">
                                    <label class="form-label text-black" for="idUser">Entrez votre ID</label>
                                    <InputNumber id="idUser" class="form-control form-control-lg" @bind-Value="@check.idUser" />
                                    <ValidationMessage For="@(() => check.idUser)" />
                                </div>
                                <div class="form-outline form-white mb-3">
                                    <label class="form-label text-black" for="newPwd">Entrez nouveau mot de passe</label>
                                    <InputText type="password" id="newPwd" class="form-control form-control-lg" @bind-Value="@check.pwd" />
                                    <ValidationMessage For="@(() => check.pwd)" />
                                </div>
                                <div class="form-outline form-white mb-3">
                                    <label class="form-label text-black" for="confirmPwd">Confirmer mot de passe</label>
                                    <InputText type="password" id="confirmPwd" class="form-control form-control-lg" @bind-Value="@check.confirmPwd" />
                                    <ValidationMessage For="@(() => check.confirmPwd)" />

                                </div>
                                <div>
                                    <span style="color:red">@message</span>
                                </div>

                                <button class="btn btn-outline-dark btn-lg px-4" type="submit">Envoyer</button>
                            </EditForm>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

    CheckResetPwd check { get; set; }
    string message = string.Empty;
    private bool isCodeValid { get; set; }

    protected override Task OnInitializedAsync()
    {
        check = new CheckResetPwd();
     

        return base.OnInitializedAsync();
    }

    public async void UpdatePWd()
    {
        isCodeValid = monService.ValidateResetCode(check.code);

        if ((check.pwd == check.confirmPwd) && isCodeValid)
        {
            message = await monService.ResetPwd(check.idUser, check.pwd);

            message = "Mot de passe a été modifié avec succés";
            navManager.NavigateTo("/login", true);
        }
        else
        {
            message = "Mot de passe et/ ou le code de vérification est incorrecte";
        }

    }
}
